node_modules/
.gradle/
build/
*.build
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local
.DS_Store
*.tsbuildinfo
*.jks
*.keystore

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Bundle artifacts
*.jsbundle

# CocoaPods
ios/Pods/

# Env
.env
.env.local
